*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@mixin flex-center($a, $b, $c, $d) {
  display: $a;
  flex-direction: $b;
  justify-content: $c;
  align-items: $d;
}

$myFirstColor: #b224ef;
$mySecondcolor: #7579ff;




body, html {
  
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



